@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}


.anonymous-pro-regular {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro-bold {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: normal;
}

.anonymous-pro-regular-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: italic;
}

.anonymous-pro-bold-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: italic;
}


body {
    background-color: #0a0a0a;
    color: #00ff00;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

* {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

h1 {
    color: white;
    border-bottom: 1px solid #00ff00;
    padding-bottom: 10px;
    text-align: center;
}

h2 {
    color: #00ff00;
    border-bottom: 1px solid #00ff00;
    padding-bottom: 10px;
}

a {
    color: white;
    opacity: 80%;
    text-decoration: none;
    border-bottom: 1px dashed white;
}

a:hover {
    opacity: 100%;
    border-bottom: 1px solid white;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li::before {
    content: "> ";
    color: #00ff00;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #111;
    padding: 20px;
    border: 1px solid #00ff00;
    box-shadow: 0 0 10px #00ff00;
}

nav.centered-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav.centered-nav a {
    margin: 0 15px;
    color: white;
    text-transform: uppercase;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

#logo {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #111;
    border-top: 1px solid #005500;
    text-align: center;
    font-size: 0.9em;
    color: #005500;
    transition: color 0.3s ease;
}

.footer:hover {
    color: #00ff00;
}

.footer p {
    margin: 10px 0;
}

.footer a {
    color: inherit;
    border-bottom: 1px dashed currentColor;
    transition: all 0.3s ease;
}

.footer a:hover {
    color: #00ff00;
    border-bottom: 1px solid currentColor;
}


